*{
    background-color: black;
    color: white;
}
.navbar{
    background-color:rgb(147, 150, 16) ;
}
#üdhText{
    border-color: aliceblue;
    border-width: 1px;
    display: inline;
    padding-left: 80mm;
    
}
#aksText{
    border-color: aliceblue;
    border-width: 1px;
    display: inline;
    padding-left: 72mm;
    
}
#mmText{
    border-color: aliceblue;
    border-width: 1px;
    display: inline;
    padding-left: 65mm;
    
}
#h5vol1{
    border-bottom-style: groove;
    border-color: aliceblue;
    border-bottom-width: 0.5mm;
    display: inline;
}
